doctype 5
html
	head
		title= title
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel="stylesheet", href="/stylesheets/bootstrap-responsive.css")
		link(rel="stylesheet", href="/stylesheets/docs.css")
		script(src='http://code.jquery.com/jquery-latest.min.js')
		script(src='/javascripts/bootstrap.min.js')
			
	body(data-spy="scroll", data-target=".navbar")
		block content